.App {
  max-width: 350px;
  margin: auto;
  font-size: 14px;
}

.head {
  text-align: center;
  padding: 24px 8px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 6px;
  padding: 8px 12px 8px 37px;
  border: 1px solid #666;
}

input[type="checkbox"] {
  margin: 0 8px 0 12px;
  border: 1px solid black;
}

.cities {
  border: 1px solid #666;
}

.citybox {
  display: flex;
  align-items: center;
}

.citybox {
  border-bottom: 1px solid #ddd;
}

.citybox:last-child {
  border: 0;
}

.city {
  padding: 4px;
  line-height: 16px;
}

.small {
  font-size: 12px;
  line-height: 8px;
  color: #666;
}
